.header__lang-link {
    padding: 0;
    margin: 0 0 0 18px;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.11;
    text-decoration: none;
}

.header__lang-link:hover {
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    .header__lang-link {
        font-size: 24px;
        line-height: 1.17;
    }
}