.photo-grid {
    padding: 64px 16px 0 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 12px;
}

@media screen and (min-width: 768px) {
    .photo-grid {
        padding: 88px 24px 0 24px;
        gap: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .photo-grid {
        padding: 92px 48px 0 48px;
        gap: 14px;
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        gap: 16px;
    }
}