@media screen and (min-width: 768px) {
    .place__titles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        margin-bottom: 48px;
        align-items: flex-end;
    }
}