.cover__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    color: #FFFFFF;
    padding: 0 16px;
    margin: 0 auto;
    position: relative;

}

@media screen and (min-width: 768px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 1.22;
        width: 360px;
    }
}