.place__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.63;
    color: #FFFFFF;
    padding: 0 16px;
    margin: 0 0 25px 0;
}

.place__text:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .place__text {
        padding: 0;
    }
}

@media screen and (min-width: 1024px) {
    .place__text {
        font-size: 18px;
    }
}