.place__title_line-break_baikal {
    width: auto;
}

@media screen and (min-width: 1024px) {
    .place__title_line-break_baikal {
        max-width: 440px;
    }
}

@media screen and (min-width: 1280px) {
    .place__title_line-break_baikal {
        max-width: 460px;
    }
}