.place__title_line-break_kosa {
    width: 300px;
}

@media screen and (min-width: 1024px) {
    .place__title_line-break_kosa {
        width: 440px;
    }
}

@media screen and (min-width: 1280px) {
    .place__title_line-break_kosa {
        width: 460px;
    }
}

