@media screen and (min-width: 768px) {
    .place__info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 28px;
        margin-bottom: 73px;
    }
}

@media screen and (min-width: 1024px) {
    .place__info {
        gap: 32px;
        margin-bottom: 80px;
    }
}