.lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.1;
    color: #FFF;
    text-align: center;
    margin: 0 0 16px 0;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .lead__title {
        font-size: 96px;
        line-height: 1.04;
        margin: 0 0 32px 0;
        padding: 0 24px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__title {
       padding: 0 125px;
    }
}

@media screen and (min-width: 1280px) {
    .lead__title {
        padding: 0 280px;
    }
}