.lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.1;
    color: #FFF;
    text-align: center;
    margin: 0 auto 16px auto;
    padding: 0 16px;
    max-width: 288px;
}

@media screen and (min-width: 768px) {
    .lead__title {
        font-size: 96px;
        line-height: 1.04;
        margin-bottom: 32px;
        padding: 0 24px;
        max-width: 720px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__title {
       padding: 0 125px;
    }
}