.footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1;
    color: #FFFFFF;
    padding: 0 16px;
    margin: 54px 0 0 0;
}

@media screen and (min-width: 768px) {
    .footer__copyright {
        line-height: 1.14;
        margin: 0;
        padding: 0;
    }
}