.intro {
    padding: 64px 16px 0 16px;
}

@media screen and (min-width: 768px) {
    .intro {
        padding: 88px 24px 0 24px;
    }
}

@media screen and (min-width: 1024px) {
    .intro {
        padding: 92px 0 0 0;
        max-width: 928px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1280px) {
    .intro {
        max-width: 984px;
    }
}