.lead__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #FFF;
    margin: 0 auto 40px auto;
    padding: 0 16px;
    max-width: 288px;
}

@media screen and (min-width: 768px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 1.2;
        margin: 0 auto 56px auto;
        padding: 0 64px;
        max-width: none;
    }
}

@media screen and (min-width: 1024px) {
    .lead__subtitle {
        padding: 0 192px;
    }
}

@media screen and (min-width: 1280px) {
    .lead__subtitle {
        padding: 0 280px;
        max-width: 640px;
        margin: 0 auto 64px auto;
    }
}