.lead__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #FFF;
    margin: 0 0 40px 0;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 1.2;
        margin: 0 0 56px 0;
        padding: 0 64px;
    }
}