.cover {
    background-image: url("../../images/cover-trains.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 62.5vw;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover::before {
    background-color: #2A2C2F;
    opacity: 0.3;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cover:hover::before {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (min-width: 1280px) {
    .cover {
        max-width: 1184px;
        max-height: 740px;
        margin: 0 auto;
    }
}
