.lead__image-caption {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    margin: 0;
    padding-left: 16px;
}
