.lead__image-caption {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    margin: 0;
    padding-left: 16px;
}

@media screen and (min-width: 768px) {
    .lead__image-caption {
        padding-left: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__image-caption {
        max-width: 928px;
        padding: 0;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1280px) {
    .lead__image-caption {
        max-width: 986px;
    }
}