.cover__title {
    font-weight: 900;
    font-style: normal;
    font-size: 32px;
    line-height:1.09;
    text-align: center;
    color: #FFFFFF;
    padding: 33px 16px 0 16px;
    margin: 0 0 16px 0;
    position: relative;
}

@media screen and (min-width: 768px) {
    .cover__title {
        font-size: 72px;
        line-height: 1.06;
        margin: 0 0 32px 0;
    }
}
