.place__url {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1;
    color: #AAAAAA;
    padding: 0 16px;
    margin: 0 0 12px 0;
}

@media screen and (min-width: 768px) {
    .place__url {
        padding: 0;
    }
}